---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
	.page-header {
		padding: 3.5rem;
	}

	.project-tagline {
		font-size: 1.5rem;
	}

	figure.align-left,
	figure.align-right {
		max-width: 30%;
	}
	figure.align-left {
		float: left;
		margin-left: 0;
	}
	figure.align-right {
		float: right;
		margin-right: 0;
	}
}

@media screen and (min-width: 80em) {
	.main-content {
		max-width: 80rem;
	}
}

button {
	padding: .5rem 1rem;
}

figcaption {
	font-size: .8rem;
}

.main-content pre code,
.main-content pre tt {
	white-space: pre-wrap;
	word-break: break-all;
}

.main-content h1 ~ h2 {
	margin-top: 0;
	margin-bottom: 3rem;
}
